<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="shiping-methods">
                    <div class="section-title">
                        <h4 class="title">Email</h4>
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" [(ngModel)]="email" placeholder="Email">
                    </div>
                </div>



                <div class="billing-details">
                    <!-- <p>Already a customer ?
                        <a href="#">Login</a>
                    </p> -->
                    <div class="section-title">
                        <h3 class="title">shipping information</h3>
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" [(ngModel)]="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" [(ngModel)]="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" [(ngModel)]="province" placeholder="Province">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" [(ngModel)]="district" placeholder="District">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" [(ngModel)]="street" placeholder="Street">
                    </div>

                    <div class="pull-right">
                        <button class="primary-btn" (click)="create()">Place Order</button>
                    </div>

                </div>
            </div>            

        </div>
    </div>
</div>