<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="order-summary clearfix">
          <h1 class="display-3  text-center">Thanks for your order!</h1>
          <hr>
          <ul class="midpage">
            <li class="leftpage">
              <img src="http://www.alphademenagements.com/public/img/big/ok-1976099_960_720.png" width="250px" />
            </li>

            <li class="rightpage">
              <h2>
                <strong>YOUR ORDER ID:</strong>
              </h2>
              <div class="idbill text-center">ID Bill</div>
              <br>
              <div class="info-ship">
                <p>- Hàng của bạn sẽ được chuyển tới trong vòng
                  <strong>1 tuần</strong>.</p>
                <p>- Nếu có gì thắc mắc vui lòng
                  <a class="contact-link" routerLink="../../contact">liên hệ chúng tôi</a>.</p>
                <p>- Bạn đã chọn thanh toán bằng:</p>


                <p>Thanh toán bằng Paypal</p>
                <p>Thanh toán qua ngân hàng</p>
                <p>Thanh toán khi nhận hàng</p>



              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>