<div class="pull-right">
    <div class="page-filter">
      <span class="text-uppercase">Show:</span>
      <!-- <select class="input">
          <option value="10" ng-reflect-value="0" (click)="getPageSize(value)" >10</option>
          <option value="20" ng-reflect-value="1" (click)="getPageSize(value)" >20</option>
          <option value="30" ng-reflect-value="2" (click)="getPageSize(value)" >30</option>
        </select> -->
        <select class="input" [(ngModel)]="pSize" (change)="changePageSize()">
          <option *ngFor="let op of options" [value]="op.value">{{op.name}}</option>
        </select>
    </div>
    <ul class="store-pages">
      <li><span class="text-uppercase">Page:</span></li>
      <li><a><i class="fa fa-caret-left"></i></a></li>
      <li><a>1</a></li>
      <li><a>2</a></li>
      <li><a>3</a></li>
      <li><a><i class="fa fa-caret-right"></i></a></li>
    </ul>
  </div>