<div class="col-md-12">
    <div class="billing-details">
        <div class="section-title">
            <h3 class="title">Edit category</h3>
        </div>

<div class="container">    
        <div class="col-md-6">
            <div class="billing-details">
                <div class="section-title">
                    <h3 class="title">Edit category</h3>
                </div>

                <div class="form-group">
                    Name: <input type="text" class="input" [(ngModel)] = "cate.name"><br/>
                </div>
                <div class="form-group">
                    Description: <input type="text" class="input" [(ngModel)] = "cate.description"><br/>
                </div>                

                    Status:
                <div>
                    <select class="input custom-select" [(ngModel)] = "cate.status">                              
                        <option *ngFor="let item of keys" [value]="item">{{status[item]}}</option>
                        <option selected>{{cate.status[item]}}</option>
                    </select>
                </div>

                <br/>

                <input type="button" (click)="editCategory()" class="primary-btn" value="Save">
                <button routerLink='../' class="main-btn">Back</button>
                <br/><br/>
            </div>
        </div>    
    </div>
</div>