<div class="section">
  <div class="container">
    <!-- Process Bar -->
    <div class="row smpl-step">
      <div class="col-xs-4 smpl-step-step" *ngFor="let title of listtitle; let i = index" [ngClass]="{
                  'complete': step > i+1,
                  'active': step === i+1,
                  'disabled': step < i+1
                }">
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a class="smpl-step-icon">
          <i class="glyphicon" [ngClass]="{
            'glyphicon-repeat repeat-icon' : step === i+1 && step !== 3,
            'glyphicon-ok ok-icon' : step !== i+1 || step === 3
          }">
          </i>
        </a>
        <div class="smpl-step-info text-center">{{title}}</div>
      </div>
    </div>
    <!-- Process Bar -->
    <div class="navbar wizard">
      <div class="col-md-6 col-md-offset-4">
        <div class="navbar-inner">
          <ul class="nav nav-pills wizard">
            <li [ngClass]="step == 1 ? 'active' : ''">
              <a>Cart Review</a>
            </li>
            <li [ngClass]="step == 2 ? 'active' : ''">
              <a>Payment</a>
            </li>
            <li [ngClass]="step == 3 ? 'active' : ''">
              <a>Thank You</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>