<form #createForm="ngForm">
  <div class="container register">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 align-self-center">
          <div class="section-title">
            <h3>Register Account</h3>
          </div>
        
          <div class="form-group">
            Username:
            <input id="username" name="username" #username="ngModel" [(ngModel)]="user.username" 
              type="text" class="input" required minlength="12" maxlength="20" (keyup)="checkUsername()">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <div *ngIf="username.errors.required">
                Username is required.
              </div>
              <div *ngIf="username.errors.minlength">
                Minimum length is 12 characters.
              </div>
            </div>
            <div *ngIf="isExist!=null && (username.dirty || username.touched)" class="alert alert-danger">
              Username {{user.username}} is already taken.
            </div>
          </div>
  
          <div class="form-group">
            Email:
            <input id="email" name="email" #email="ngModel" [(ngModel)]="user.email" 
              type="email" class="input" required (keyup)="checkEmail()">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors">
                Please enter valid email address.
              </div>
            </div>
            <div *ngIf="isExistEmail!=null && (email.dirty || email.touched)" class="alert alert-danger">
              Email {{user.email}} is already taken.
            </div>
          </div>
        
          <div class="form-group">
            Password:
            <input id="password" name="password" #password="ngModel" [(ngModel)]="user.password"  type="password" class="input" required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
            </div>
          </div>
        
          <div class="form-group">
            Confirm Password:
            <input id="passwordConfirm" name="passwordConfirm" #passwordConfirm="ngModel" [(ngModel)]="user.passwordConfirm" type="password"  class="input" required>
            <div *ngIf="password.value != passwordConfirm.value && (passwordConfirm.dirty || passwordConfirm.touched)" class="alert alert-danger">
              Password doesn't match.
            </div>
            <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)" class="alert alert-danger">
              <div *ngIf="passwordConfirm.errors.required">
                Please confirm your password.
              </div>
            </div>
          </div>
  
          <button class="primary-btn" [disabled]="isDisabled || createForm.invalid" (click)="add()">Register</button>
          <button routerLink="" class="main-btn">Back</button>
        </div>
    </div>
  </div>
</form>
