<li _ngcontent-c3="" class="header-cart dropdown default-dropdown">
  <a _ngcontent-c3="" aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown">
    <div _ngcontent-c3="" class="header-btns-icon">
      <i _ngcontent-c3="" class="fa fa-shopping-cart"></i>
      <span _ngcontent-c3="" class="qty">3</span>
    </div>
    <strong _ngcontent-c3="" class="text-uppercase">My Cart:</strong>
    <br _ngcontent-c3="">
    <span _ngcontent-c3="">35.20$</span>
  </a>
  <div _ngcontent-c3="" class="custom-menu">
    <div _ngcontent-c3="" id="shopping-cart">
      <div _ngcontent-c3="" class="shopping-cart-list">
        <div _ngcontent-c3="" class="product product-widget">
          <div _ngcontent-c3="" class="product-thumb">
            <img _ngcontent-c3="" alt="" src="/assets/img/thumb-product01.jpg">
          </div>
          <div _ngcontent-c3="" class="product-body">
            <h3 _ngcontent-c3="" class="product-price">$32.50
              <span _ngcontent-c3="" class="qty">x3</span>
            </h3>
            <h2 _ngcontent-c3="" class="product-name">
              <a _ngcontent-c3="" href="#">Product Name Goes Here</a>
            </h2>
          </div>
          <button _ngcontent-c3="" class="cancel-btn">
            <i _ngcontent-c3="" class="fa fa-trash"></i>
          </button>
        </div>
        <div _ngcontent-c3="" class="product product-widget">
          <div _ngcontent-c3="" class="product-thumb">
            <img _ngcontent-c3="" alt="" src="/assets/img/thumb-product01.jpg">
          </div>
          <div _ngcontent-c3="" class="product-body">
            <h3 _ngcontent-c3="" class="product-price">$32.50
              <span _ngcontent-c3="" class="qty">x3</span>
            </h3>
            <h2 _ngcontent-c3="" class="product-name">
              <a _ngcontent-c3="" href="#">Product Name Goes Here</a>
            </h2>
          </div>
          <button _ngcontent-c3="" class="cancel-btn">
            <i _ngcontent-c3="" class="fa fa-trash"></i>
          </button>
        </div>
      </div>
      <div _ngcontent-c3="" class="shopping-cart-btns">
        <button _ngcontent-c3="" class="main-btn">View Cart</button>
        <button _ngcontent-c3="" class="primary-btn">Checkout
          <i _ngcontent-c3="" class="fa fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</li>