<li class="header-cart dropdown default-dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" auto-close="disabled">
    <div class="header-btns-icon">
      <i class="fa fa-shopping-cart"></i>
      <span class="qty">{{cart.length | number}}</span>
    </div>
    <strong class="text-uppercase">My Cart:</strong>
    <br>
    <span>{{total | number}}</span>
  </a>
  <div class="custom-menu">
    <div id="shopping-cart" *ngIf="cart.length; else empty">
      <div class="shopping-cart-list">
        <div *ngFor="let item of cart" class="product product-widget">
          <div class="product-thumb">
            <img src="{{item.product.image}}" style="cursor: pointer" (click)="routeProduct(item.product.name,item.product.id)">
          </div>
          <div class="product-body" style="cursor: pointer" (click)="routeProduct(item.product.name,item.product.id)">
            <h3 class="product-price">{{item.product.price | number}}
              <span class="qty">x{{item.quantity | number}}</span>
            </h3>
            <h2 class="product-name">
              <a style="cursor: pointer" (click)="routeProduct(item.product.name,item.product.id)">{{item.product.name}}</a>
            </h2>
          </div>
          <button class="cancel-btn" (click)="remove(item.product)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="shopping-cart-btns">
        <button class="main-btn" routerLink="/cart">View Cart</button>
        <button class="primary-btn" routerLink="/cart/payment">Checkout
          <i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
    <ng-template #empty>
      <div align="center">
        <h4>Your cart is empty.</h4>
      </div>
    </ng-template>
  </div>
</li>