<div class="col-md-12">
  <div class="order-summary clearfix">
      <a routerLink="/admin/order/create" routerLinkActive="active" class="btn primary-btn">Create</a>
    <div class="section-title">
      <h3 class="title">List Orders</h3>
    </div>
    <table class="shopping-cart-table table">
      <thead>
        <tr>
          <th>Order Email</th>
          <th>User ID</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of listOrders; let i = index">
          <td scope="row">
            {{order.email}}
          </td>
          <td>{{order.userId}}</td>
          <td>{{order.total}}</td>
          <td class="text-right"><button class="main-btn icon-btn" routerLink="/admin/order/edit/{{order.id}}" routerLinkActive="active"><i class="fa fa-edit"></i></button></td>
          <td class="text-right"><button class="main-btn icon-btn" (click)="delete(order.id)"><i class="fa fa-close"></i></button></td>
        </tr>
      </tbody>
      
    </table>
  </div>

</div>