<div class="col-md-12">
  <div class="order-summary clearfix">
      <a routerLink="/admin/orders/create" routerLinkActive="active" class="btn primary-btn">Create</a>
    <div class="section-title">
      <h3 class="title">List Orders</h3>
    </div>
    <table class="shopping-cart-table table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User Email</th>
          <th>Create Date</th>
          <th class="text-center">User ID</th>
          <th class="text-center">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of listOrders; let i = index">
          <td>{{order.id}}</td>
          <td>{{order.email}}</td>
          <td>{{order.createdDate| date: 'dd/MM/yyyy'}}</td>
          <td class="text-center">{{order.userId}}</td>
          <td class="text-center">{{order.total}}</td>
          <td class="text-right"><button class="main-btn icon-btn" (click) = "edit(order)" routerLink="/admin/orders/edit" routerLinkActive="active"><i class="fa fa-edit"></i></button></td>
          <td class="text-right"><button class="main-btn icon-btn" mat-raised-button (click)="openDialog(order.id)"><i class="fa fa-close"></i></button></td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>