<div class="col-md-12">
  <div class="section-title">
    <h3 class="title">Search Orders</h3>
  </div>
  <div style="justify-content:space-between;display:flex">
    <div>
      <label>Email</label>
      <input type="text" id="inputEmailSearch" placeholder="Email" [(ngModel)]="email">
    </div>
    <div>
      <label>Phone</label>
      <input type="text" id="inputPhoneSearch" placeholder="Phone" [(ngModel)]="phone">
    </div>
    <div>
    <button class="primary-btn" style="margin-bottom:10px;" (click)="search()">Search</button>
  </div>
  </div>

  <div class="section-title">
    <h3 class="title">Orders overview</h3>
  </div>

  <div class="pull-right">
    <div class="btn-group">
      <a routerLink="/admin/manager/orders/create" routerLinkActive="active" class="primary-btn">Create New</a>
    </div>
  </div>

  <table class="shopping-cart-table table table">
    <thead class="thead-dark">
      <tr>
        <th>Order ID</th>
        <th>User Email</th>
        <!-- <th>Create Date</th> -->
        <th class="text-center">Status</th>
        <th class="text-center">Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let order of listOrders; let i = index">
      <tr>
        <td>{{order.idBill}}</td>
        <td>{{order.email}}</td>
        <!-- <td>{{order.createdDate| date: 'dd/MM/yyyy'}}</td> -->
        <td>
          <select class=" input custom-select" [(ngModel)]="order.status" (change)="updateStatus(order)">
            <option *ngFor="let status of listStatus" [value]="status.id">{{status.name}}</option>
          </select>
        </td>
        <td class="text-center">{{order.total}}</td>
        <td class="text-right">
          <button class="main-btn icon-btn" (click)="edit(order)" routerLink="/admin/manager/orders/edit" routerLinkActive="active">
            <i class="fa fa-edit"></i>
          </button>
          <button class="main-btn icon-btn" data-toggle="modal" data-target="#myModal" (click)="get(order.id)">
            <i class="fa fa-close"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="section-title">
          <h4 class="modal-title">Confirm</h4>
        </div>
        <p>Are you sure you want to delete this record?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="primary-btn" (click)="delete()" data-dismiss="modal">Yes</button>
        <button type="button" class="main-btn" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<app-paging
[itemCount]="itemCount"
(page)="getPage($event)"
(pageSize)="getPageSize($event)"
></app-paging>
