<div class="col-md-12">

  <div class="section-title">
    <h3>Edit User</h3>
  </div>

  <div class="form-group">
    Username:
    <input value="{{user.username}}" disabled type="text" class="input" required>
  </div>

  <div class="form-group">
    Email:
    <input [(ngModel)]="user.email" type="text" class="input" required>
  </div>

  <div class="form-group">
    First Name:
    <input [(ngModel)]="user.firstName" type="text" class="input" required>
  </div>

  <div class="form-group">
    Last Name:
    <input [(ngModel)]="user.lastName" type="text" class="input" required>
  </div>

  <div class="form-group input-checkbox">
    Gender:
    <div class="form-inline">
      <div class="radio-inline">
        <input type="radio" name="gender" [value]="true" [(ngModel)]="user.gender">Nam
      </div>
      <div class="radio-inline">
        <input type="radio" name="gender" [value]="false" [(ngModel)]="user.gender">Nữ
      </div>
    </div>

  </div>

  <div class="form-group">
    Image:
    <input [(ngModel)]="user.image" type="text" class="input">
    <td>
      <img src="{{user.image}}" class="img-responsive" style="width:200px; height:200px">
    </td>
  </div>

  <button type="submit" class="primary-btn" [disabled]="isDisabled" (click)="edit()">Save</button>
  <button routerLink='../' class="main-btn">Back</button>
</div>