<div class="col-md-12">

  <form #editUserForm="ngForm">
    <div class="section-title">
      <h3 class="title">Edit User</h3>
    </div>

    <div class="form-group">

      Username:

      <input name="username" value="{{user.username}}" disabled type="text" class="input">

    </div>

    <div class="form-group">

      Email:

      <input name="email" [(ngModel)]="user.email" type="text" class="input" #email_validation="ngModel" ngModel required EmailValidator>
      <show-errors [control]="email_validation"></show-errors>

    </div>

    <div class="form-group">

      First Name:

      <input name="firstName" [(ngModel)]="user.firstName" type="text" class="input" required>

    </div>

    <div class="form-group">

      Last Name:

      <input name="lastName" [(ngModel)]="user.lastName" type="text" class="input" required>

    </div>

    <div class="form-group input-checkbox">

      Gender:

      <div class="form-inline">
        <div class="radio-inline">
          <input type="radio" name="gender" [value]="true" [(ngModel)]="user.gender">Nam
        </div>
        <div class="radio-inline">
          <input type="radio" name="gender" [value]="false" [(ngModel)]="user.gender">Nữ
        </div>
      </div>

    </div>

    <div class="form-group">

      Image:

      <input name="image" [(ngModel)]="user.image" type="text" class="input">
      <td>
        <img src="{{user.image}}" class="img-responsive" style="width:200px; height:200px">
      </td>

    </div>

    <button type="submit" [disabled]="!editUserForm.valid" class="primary-btn" [disabled]="isDisabled" (click)="edit()">Save</button>
    <button routerLink='../' class="main-btn">Back</button>

  </form>
</div>