<div class="col-md-12">
    <div class="billing-details">
        <div class="section-title">
            <h3 class="title">Create category</h3>
        </div>
        <div class="form-group">

            Name:

            <input type="text" class="input" [(ngModel)]="name" 
            #name_validation="ngModel" ngModel required minlength="3" maxlength="25">
            <show-errors [control]="name_validation"></show-errors>

            <br/>
        </div>
        <div class="form-group">

            Description:

            <input type="text" class="input" [(ngModel)]="description"
            #description_validation="ngModel" ngModel maxlength="250">
            <show-errors [control]="description_validation"></show-errors>

            <br/>
        </div>

        Status:
        <div>
            <select class="input custom-select" [(ngModel)]="status1">
                <option *ngFor="let item of keys" [value]="item">{{status[item]}}</option>
            </select>
        </div>
        <br/>
        <input type="button" (click)="addCategory()" class="primary-btn" value="Save">
        <button routerLink='../' class="main-btn">Back</button>

    </div>
</div>